body {
  padding: 0;
  margin: 0;

}
/* Первый блок */
.first_block {
  background-color: black;
  height: 900px;
  margin-bottom: 100px;
  background: #000;
}

nav{
  display: flex;
  padding-top: 90px;
  justify-content: space-between;
  width: 32%;
  font-family: "Roboto", sans-serif;
  margin-left: 60%;
  height: 21px;
}
nav a {
  text-decoration: none;
  padding: 0;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
nav a:hover {
  border-bottom: 2px solid #4caf50;
}

.discription{
    color:#fff;
    margin-top: 280px;
    text-align: center;
}
.discription h1{
    font-size: 52px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-family: "Oswald", "Roboto", sans-serif;
    font-weight: 500;
}
.discription p{
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

.numbers{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 270px;
}
.numbers p{
    list-style-type: none;
    font-size: 18px;
    margin-right: 20px;
    z-index: 2;
}
.numbers img{
    display: block;
    position: absolute;
    height: 2px;
    margin-top: 20px;
    margin-left: -50px;
}

/* Второй блок с картинками */

.first_section{
    width:76%;
    margin-left: 12%;
    margin-bottom: 250px;
}
.first_section h2{
    font-family: "Open Sans", sans-serif;
    color: #333333;
    line-height: 53px;
    letter-spacing: 2.304px;
}
.first_section span{
    font-size: 42px; 
    font-weight:100; 
    font-family: 'Open Sans', sans-serif; 
    margin-top:-50px;
    padding: 0;
}
.text{
    position: relative;
    z-index: 5;
    margin-left: 3%;
}
.small_text{
    display: flex;
    margin-left: 20px;   
}
.two{
    margin-left: 75%;
    /* padding-top: 70px; */
    position: relative;
    z-index: 5;
}
.small_text p{
    width: 280px; 
    text-align:left;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    font-family: 'Open Sans', sans-serif; 
    letter-spacing: 1.26px;
}

.images{
    position: relative;
    /* background-color: coral; */
    display: flex;
    z-index: 4;
    justify-content: center;
    /* vertical-align: middle; */
    margin-top: -300px;
    margin-left: -12%;
}
.img1{
    left: 190px;
    position: relative;
    z-index: 3;
}
.green_block{
    width: 310px; 
    height: 420px;
    opacity: 0.9;
    position: relative;
    top: 80px;
    left: 100px;
    z-index: 2;
}
.img2{
    position: relative;
    top:160px;
}

/* Третий блок */

.services_block{
    width:76%;
    margin-left: 12%;
    margin-bottom: 200px;
}
.services_block h2{
    font-family: "Oswald", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 3.072px;
    color: #252525;
}
.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 5%;
    column-gap: 20px;
}

.services div{
    width: 300px;
    font-family: 'Open Sans', sans-serif; 
    padding-bottom: 70px;
    padding-top: 20px;
}
.read_me{
    font-family: "Oswald", "Roboto", sans-serif;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #252525;
    opacity: 0.5;
    
}
.services div p{
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
    color: #777777;
}
.services div h3{
    font-family: "Oswald", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
}
.logo{
    position:relative;
    left:80%; 
    top:-40px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:none;
    background-color: #fff;
    box-shadow: 0px 0px 20px #bdbdbd;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}
.brand{
    background-image: url("images/graphic-design.png");
}
.design{
    background-image: url("images/pencil-case.png");
}
.development{
    background-image: url("images/coding.png");
}

.services div:hover{
    padding-bottom: 60px;
    border-bottom: 3px solid #70BF73;
}
.services div:hover .logo{
    opacity: 1;
}
.services div:hover .read_me{
    opacity: 1;
}
.read_me:hover{
    opacity: 1;
    cursor: pointer;
}

/* Четверный блок */

.works{
    height: 1650px;
    width:76%;
    margin-left: 12%;
    margin-bottom: 250px;
}
.works_links{
    position: relative;
    z-index: 2;
    top:60px
}
.works_links h2{
    font-family: "Oswald", "Roboto", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
    font-style: normal;
}
.works_links a{
    text-decoration: none;
    margin-right: 40px;
    color: #252525;
    opacity: 0.3;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.832px;
}
.works_links a:hover{
    opacity: 1;
}
.photo_collage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -150px;
}
.photo h2{
    font-family: "Oswald", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 71px;
    /* letter-spacing: 3.072px; */
    color: #252525;
    width: 400px;
}
.photo h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 1.152px;
    color: #252525;

}
.photo p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    text-align: right;
    letter-spacing: 0.832px;
    color: #C2C2C2;

    width: 270px;
}
.first{
    position: relative;
    top: 350px;

}
.third{
    position: relative;
    top: 350px;
}
/* Левый столбец, ужс */

.first h2, .third h2{
    margin-left: 160px;
    text-align: left;
    width:240px;
}
.first h3, .third h3{
    margin-top: -150px;
    text-align: left;
}
.first p, .third p{
    text-align: left;
}
.first .photo_text, .third .photo_text{
    width: 400px;
    margin-left: 200px;
}
/* Правый столбец */
.second, .forth{ 
    margin-left: 15%;
}
.second .photo_text, .forth .photo_text{
    width: 400px;
    margin-left: -100px;
}
.second p, .forth p{
    text-align: right;
    margin-left: auto;
}
.second h3, .forth h3{
    margin-top: -150px;
}
.second h2, .forth h2{
    text-align: left;
    width:410px;
}


.photo_text{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.photo_text h2{
    position: relative;
    top: -200px;
}
.photo_text a{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.832px;
    cursor: pointer;

    color: #252525;
    margin-top:20px;
    text-decoration: line-through; 
    text-decoration-color: #70BF73;
}

/* Пятый блок */

.team_block{
    width:76%;
    margin-left: 12%;
    margin-bottom: 200px;
}
.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: center;
    margin-left: 5%;
}
.team_photo{
    display: flex;
    flex-direction: column;
}
.team_block h2{
    font-family: "Oswald", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 3.072px;
    color: #252525;
    margin-bottom: 75px;
}
.team_photo h3{
    font-family: 'Oswald', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.152px;
    color: #252525;

    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    position: relative;
    top: -65px;
    padding:10px;
}

/* Шестой блок */

.comment_block{
    width:56%;
    margin-left: 22%;
    margin-bottom: 200px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.comment_block .rate button{
    background-image: url("star copy 3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    width: 15px;
    height: 15px;
    border:none;
    opacity: 0.5;
    margin-right: 8px;
    cursor: pointer;
    margin-bottom: 30px;
}
.quote{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 31px;
    letter-spacing: 0.896px;
    color: #373737;
    margin-bottom: 30px;
}
.comment_block cite{
    font-family: 'Oswald', 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.152px;

    color: #373737;
}

/* Седьмой блок */

.contact{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact button{
    border: none;
    cursor: pointer;
}
.first_button:hover{
    background-color: #bbbbbb;
}
.second_button{
    background-color: #70BD59;
}
.second_button:hover{
    background-color: #1a521c;
}
.contact button img{
    margin-top:50px;
}
.contact button h3{
    font-family: 'Oswald', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 2.66667px;
    color: #373737;
}
.contact button p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.55556px;
    color: #373737;
    opacity: 0.8;
    margin-bottom: 70px;
}

/* Подвал */

footer{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer p{
    font-family: 'Oswald', 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5;
}
.contacts{
    margin-top:130px;
    padding:20px 0;
}
.social_media{
    margin-bottom: 70px;
}
.social_media img{
    margin-left:20px;
    cursor: pointer;
}
.social_media img:hover{
    background-color: rgba(194, 194, 194, 0.5);
    border-radius: 50%;
}